.contacts{

    height: 900px;
    width: 1050px;
    margin: auto;
    background-color: rgb(154, 143, 143);
}
.con{

    margin-left: 400;
}
.contactmain{
    margin-top: 200px;
    margin-left: 150px;
}
.former{

    margin-top: 200px;
    margin-left: 120px;
 
}
.address{

    color:rgb(21, 216, 57);

}
.number{
    color:orange;
}
.phone{

    size: 80px;
}