.imgs{

    height: 100px;
    background-size: cover;
    
}
.titles{

    font-size: 20px;
    color: rgb(249, 152, 6);
}
.titless{

    font-size: 20px;
    color: rgb(153, 136, 8);
}
.titlesss{

    font-size: 20px;
    color: rgb(6, 249, 14);
}
.carrs{

    background-color: rgb(205, 219, 232);
    margin: 10px;
    height: 120px;
    width: 680px;
   text-align: center;
   align-items: center;
   padding: 10px;
 
 
   
}