.pppp{


    height: 40px;
    width: 100px;
 
    color: white;
}
.ooo{

    text-align: center;
    justify-content: center;
}
.searchs{

 
    font-size:35px ;
    font-weight: 200;
    color: rgb(165, 132, 88);
}